img {
    width: 200px;
    border-radius:99px;
}
body {
    text-align: center;
    font-family: "Arial";
    background:#ffcee8;
    color:#00000000;
}

h1 {
    font-family: Arial;
    font-style: oblique;
}

em {
    color:#630035;
    font-weight:bold;
}
